.center {
  text-align:center;
}

.regular
{
  height: 225;
  width: 225;  
}
#hours{
  text-indent: 50px;
  float:right;
  width: 50%;
  clear:left;
}
#tablecenter
{
  margin: auto;
}

p p{
text-indent:50px;
float:right;
width: 50%;
clear:left;
}

body {
  background-color:#009BA3;
  color:#142C57;
  font-family:Arial;
}

ul {
  list-style-type: none;
}
address {
  clear:right;
  text-align:center;
}

img {
  padding-top:75px;
  padding-left:100px;
}

div {
  padding-top:75px;
}

a:link
{
  color:#02BAFF;
}
a:hover
{
  color:#DEE9FF;  
}
a:visited
{
  color:#FF364C;
}

.sfloat {
  float: left;
  }
