.center {
  text-align:center;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  background-color: #00FFD2;
  height: 100em; 
}

.gallery
{
  height: 10.0em;
  width: 10.0em;  
}

.sfloat {
  float: left;
} 
.menu {
  display: inline;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  background-color: #00FFD2;
  height:100%;
  width: 80%; 
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
  width: 70em;
}

#hours{
  text-indent: 50px;
  float:right;
  width: 60%;
  clear:left;
}
#tablecenter
{
  margin: auto;
}

#founders {
  margin: auto 0;
  position: relative;
  text-align: center;
  clear: both;
}

#contact {
  text-indent: 0em;
  display: block;
  margin-left: 3em
}

#center {
  text-align:center;
  font-size:3em;
}

p p{
text-indent:50px;
float:right;
width: 50%;
clear:left;
}

body {
  background-color:#009BA3;
  color:#142C57;
  font-family:Arial;
}

ul {
  list-style-type: none;
}
address {
  clear:right;
  text-align:center;
}

div {
  padding-top:2em;
}

a:link
{
  color:#02BAFF;
}
a:hover
{
  color:#DEE9FF;  
}
a:visited
{
  color:#FF364C;
}

nav {
  font-size:2em
}


@media (max-width: 643px)
{
  .banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 30%;
  }
  
  #tablecenter
  {
    display: table;
  }
  
  .gallery
  {
    width: 8em;
    height: 8em;
  }
  nav
  {
    font-size: 1em;
  }
  
  #map
  {
    margin-left: auto;
    margin-right: auto;
    height: 10em;
    width: 19.2em;
  }
  #hours{
  text-indent: 0px;
  float:left;
  width: 60%;
  clear:left;
  }

  #glass
  {
    width: 19.2em;
    height: 20em;
  }
  
  #founders
  {
    margin-left: auto;
  }
  
  #team
  {
    margin-left: 0px;
    width: 19.2em;
    height: 9.6em;
  }
  
  .container
  {
  background-color:transparent;
  }
  
  #text
  {
    resize: horizontal;
    max-width: 17.7em;
    
  }
}